.todo-list-template {
    background: whitesmoke;
    width: 512px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3); 
    margin: 0 auto; 
    margin-top: 15rem;
    opacity: 0.9;
    font-size: 30px;
    font-family: Typo_DonQuixote B;
  }
  
  .title {
    padding: 3rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
    background: #F1AA36;
    color: green;
    font-family: Segoe Script;
  }
  
  .form-wrapper {
    padding: 1rem;
    border-bottom: 1px solid #F1AA36;
  }
  
  .todos-wrapper {
    min-height: 5rem;
    text-align: center;
  }

  
